body{
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.play{
    box-shadow: 5px 5px 10px rgba(136, 130, 130, 0.87);
    width: 80%;
    margin: auto;
    
   
    
}
video{
    width: 100%;
    
}
h1{
    text-align: center;
}
.d-a{
    box-shadow: 5px 5px 10px rgba(131, 127, 127, 0.801);
    border-radius: 100px;
    margin-bottom: 30px;
}
.ketal {
    width: 200px;
    box-shadow: 2px 2px 5px red;
}
.logo{
    text-align: center;
}
.tabela{
    width: 50%;
    box-shadow: 5px 5px 10px rgba(131, 127, 127, 0.801);
}
#tabela{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

